name: "Build and Check Flake"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - uses: cachix/install-nix-action@v26
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Check Flake
      run: nix flake check

    - name: Build Antigravity
      run: nix build .#antigravity

    - name: Build Waveterm
      run: nix build .#waveterm
